
<div class="chat-container">

    <div class="chat-head">
        <div class="left">
            <p>Szititour Szervezők</p>
        </div>

        <div class="right">
            <button>HIDE</button>
            <button>CLOSE</button>
        </div>
    </div>

    <div class="chat-content" id="bs" #chatContent>

        <div class="chat-message-sent">
            <p>Ez egy rövid üzenet</p>
        </div>

        <div class="chat-message-received">
            <p>Ez egy pár karakterrel hosszab chat üzenet, hogy kiderüljön az hogyan néz ki a külömböző képernyőméreteken.</p>
        </div>

        <div [@popInOut] *ngFor="let m of msgs" [ngClass]="(isAdmin && m.sender === 'ADMIN') ? 'chat-message-sent' : 'chat-message-received'">
            <p>{{m.content}}</p>
        </div>

    </div>

    <div class="chat-footer">
        <input (keyup.enter)="sendMsg()" class="simpleInput" [(ngModel)]="content" type="text">
        <button class="btn btn-simple" (click)="sendMsg()">SEND</button>
    </div>

</div>