@import "styles/styles-variables";

.notifications {

    max-width: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: min(500px, 100vh);
    overflow-y: auto;

    background-color: white;

    padding: 14px;
    border-radius: 8px;
    margin: 10px;

    -webkit-box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.38);
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.38);

    @media (min-width: $breakpoint-mobile) {
        width: 400px;
    }

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: $smoke;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: darkgray;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #6f6f6f;
    }

    .actions {
        display: flex;
        width: 100%;
        gap: 16px;
        justify-content: space-between;
    }
}