<div class="notifications" [@popInOut] *ngIf="isNotiOpen()" (click)="clicInside($event)">

    <div *ngIf="notifications().length > 0" class="actions">
        <button (click)="seenAll()" class="btn-hover-bold text-size-min">Összes jelölése olvasottnak</button>
        <button (click)="removeAll()" class="btn-hover-bold text-size-min">Összes törlése</button>
    </div>

    <app-notification [@popInOut] *ngFor="let noti of notifications()" [noti]="noti"></app-notification>
    <div *ngIf="notifications().length < 1">
        <p>Nincs új üzenet</p>
    </div>

</div>
