<div (click)="toggle($event)"
     class="p-5 mobile:px-3 w-full hover:border-amber-600 rounded border-1 border-transparent shadow mb-1">

  <div class="flex w-full justify-between items-center">

    <div class="flex w-fit max-w-full gap-[10%] items-center">
      <p class="text-size-base font-bold whitespace-nowrap">{{number}}. Kérdés</p>
      <app-buttons *ngIf="$open()" (click)="$event.stopPropagation(); openEditDialog()" classes="min-w-[18px]" iconSrc="assets/svg/edit.svg" type="icon"></app-buttons>
    </div>

    <img class="cursor-pointer" [ngClass]="$open() ? 'rotate-180' : ''" src="assets/svg/anchor-down-black.svg"
         alt="Dropdown">

  </div>

  <div class="transition-all"
       (click)="$event.stopPropagation()"
       [ngClass]="$open() ? 'h-fit mt-5' : 'h-0'">
    <div *ngIf="$open()" class="flex flex-col gap-4">
      <div class="flex gap-2 mobile:flex-col">
        <p class="text-size-base font-bold">Kérdés:</p>
        <p class="text-size-base">{{question.name}}</p>
      </div>
      <div class="flex gap-2 mobile:flex-col">
        <p class="text-size-base font-bold">Rejtvény:</p>
        <p class="text-size-base">{{question.riddle ? 'igen' : "nem"}}</p>
      </div>
      <div class="flex gap-2 mobile:flex-col">
        <p class="text-size-base font-bold">Típusa:</p>
        <p class="text-size-base">{{question.type | questionType}}</p>
      </div>
      <img class="object-contain max-h-[300px] aspect-video" *ngIf="question.img" [src]="question.img | imgSrc | imgLoader | async" alt="">
    </div>

  </div>


</div>
