@import "styles-variables";

.grid-games {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.5rem;

  @media (max-width: $breakpoint-tablet) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
