<div *ngIf="$loading()" class="loader">
    <svg style="margin: auto; background: none; display: block; shape-rendering: auto;" width="200px" height="200px"
        viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
        <g transform="rotate(0 50 50)">
            <rect x="47" y="13" rx="3" ry="7" width="6" height="14" fill="#93dbe9">
                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.9803921568627451s"
                    begin="-0.9191176470588235s" repeatCount="indefinite"></animate>
            </rect>
        </g>
        <g transform="rotate(22.5 50 50)">
            <rect x="47" y="13" rx="3" ry="7" width="6" height="14" fill="#93dbe9">
                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.9803921568627451s"
                    begin="-0.8578431372549019s" repeatCount="indefinite"></animate>
            </rect>
        </g>
        <g transform="rotate(45 50 50)">
            <rect x="47" y="13" rx="3" ry="7" width="6" height="14" fill="#93dbe9">
                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.9803921568627451s"
                    begin="-0.7965686274509803s" repeatCount="indefinite"></animate>
            </rect>
        </g>
        <g transform="rotate(67.5 50 50)">
            <rect x="47" y="13" rx="3" ry="7" width="6" height="14" fill="#93dbe9">
                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.9803921568627451s"
                    begin="-0.7352941176470588s" repeatCount="indefinite"></animate>
            </rect>
        </g>
        <g transform="rotate(90 50 50)">
            <rect x="47" y="13" rx="3" ry="7" width="6" height="14" fill="#93dbe9">
                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.9803921568627451s"
                    begin="-0.6740196078431372s" repeatCount="indefinite"></animate>
            </rect>
        </g>
        <g transform="rotate(112.5 50 50)">
            <rect x="47" y="13" rx="3" ry="7" width="6" height="14" fill="#93dbe9">
                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.9803921568627451s"
                    begin="-0.6127450980392157s" repeatCount="indefinite"></animate>
            </rect>
        </g>
        <g transform="rotate(135 50 50)">
            <rect x="47" y="13" rx="3" ry="7" width="6" height="14" fill="#93dbe9">
                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.9803921568627451s"
                    begin="-0.5514705882352942s" repeatCount="indefinite"></animate>
            </rect>
        </g>
        <g transform="rotate(157.5 50 50)">
            <rect x="47" y="13" rx="3" ry="7" width="6" height="14" fill="#93dbe9">
                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.9803921568627451s"
                    begin="-0.49019607843137253s" repeatCount="indefinite"></animate>
            </rect>
        </g>
        <g transform="rotate(180 50 50)">
            <rect x="47" y="13" rx="3" ry="7" width="6" height="14" fill="#93dbe9">
                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.9803921568627451s"
                    begin="-0.42892156862745096s" repeatCount="indefinite"></animate>
            </rect>
        </g>
        <g transform="rotate(202.5 50 50)">
            <rect x="47" y="13" rx="3" ry="7" width="6" height="14" fill="#93dbe9">
                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.9803921568627451s"
                    begin="-0.3676470588235294s" repeatCount="indefinite"></animate>
            </rect>
        </g>
        <g transform="rotate(225 50 50)">
            <rect x="47" y="13" rx="3" ry="7" width="6" height="14" fill="#93dbe9">
                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.9803921568627451s"
                    begin="-0.30637254901960786s" repeatCount="indefinite"></animate>
            </rect>
        </g>
        <g transform="rotate(247.5 50 50)">
            <rect x="47" y="13" rx="3" ry="7" width="6" height="14" fill="#93dbe9">
                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.9803921568627451s"
                    begin="-0.24509803921568626s" repeatCount="indefinite"></animate>
            </rect>
        </g>
        <g transform="rotate(270 50 50)">
            <rect x="47" y="13" rx="3" ry="7" width="6" height="14" fill="#93dbe9">
                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.9803921568627451s"
                    begin="-0.1838235294117647s" repeatCount="indefinite"></animate>
            </rect>
        </g>
        <g transform="rotate(292.5 50 50)">
            <rect x="47" y="13" rx="3" ry="7" width="6" height="14" fill="#93dbe9">
                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.9803921568627451s"
                    begin="-0.12254901960784313s" repeatCount="indefinite"></animate>
            </rect>
        </g>
        <g transform="rotate(315 50 50)">
            <rect x="47" y="13" rx="3" ry="7" width="6" height="14" fill="#93dbe9">
                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.9803921568627451s"
                    begin="-0.061274509803921566s" repeatCount="indefinite"></animate>
            </rect>
        </g>
        <g transform="rotate(337.5 50 50)">
            <rect x="47" y="13" rx="3" ry="7" width="6" height="14" fill="#93dbe9">
                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.9803921568627451s" begin="0s"
                    repeatCount="indefinite"></animate>
            </rect>
        </g>
    </svg>
</div>