<div class="flex w-full mobile:flex-col justify-between bg-white shadow-2xl rounded p-5 gap-2">
  <div class="w-[45%] p-5 mobile:w-full">
    <p class="text-size-lg mb-5">Helyszín információk:</p>
    <app-text-input classes="w-fit mb-5" [(value)]="place.name" [label]="'Neve:'" [type]="TextInputType.editableP"></app-text-input>
    <app-text-input classes="w-fit mb-5" [(value)]="place.address" [label]="'Címe:'" [type]="TextInputType.editableP"></app-text-input>
    <div class="border-1 w-full">
      <img class="aspect-video " [src]="place.img" alt="place image">
    </div>
  </div>
  <div class="w-[45%] p-5 mobile:w-full">
    <p class="text-size-lg">Kérdések:</p>
  </div>
</div>
