<div class="w-full bg-white shadow-2xl rounded flex flex-col p-5 gap-2 h-full max-h-[75vh] mobile:max-h-max">
  <div class="flex w-full mobile:flex-col justify-between gap-2 h-[90%]">
    <div class="w-[45%] p-5 mobile:w-full">
      <p class="text-size-lg mb-5 bold">Helyszín információk:</p>
      <app-text-input classes="w-fit mb-5" [(value)]="place.name" [label]="'Neve:'"
                      [type]="TextInputType.editableP"></app-text-input>
      <app-text-input classes="w-fit mb-5" [(value)]="place.address" [label]="'Címe:'"
                      [type]="TextInputType.editableP"></app-text-input>
      <div class="border-1 w-full">
        <img class="aspect-video " [src]="place.img" alt="place image">
      </div>
    </div>
    <div class="w-[45%] p-5 mobile:w-full rounded border-kon-blue border-1 h-[100%] overflow-y-auto">
      <div class="flex gap-2 items-center">
        <p class="text-size-lg bold">Kérdések:</p>
        <app-buttons (onClicked)="openNewQuestionDialog()"
                     classes="aspect-square w-[30px] hover:scale-110 active:opacity-70 transition"
                     [type]="ButtonType.iconButton" iconSrc="assets/svg/add.svg"></app-buttons>
      </div>
      <app-question [question]="question" (onEditPressed)="openEditQuestionDialog(question)" *ngFor="let question of place.questions"></app-question>
    </div>
  </div>

  <div class="flex justify-between w-full">
    <app-buttons [type]="ButtonType.simple" text="Delete" classes="bg-red-600 hover:bg-red-800" (onClicked)="deletePlace()"
                 [isDisabledProgress]="deleting"></app-buttons>

    <app-buttons [type]="ButtonType.simple" [text]="isEdit ? 'Save' : 'Create'" (onClicked)="savePlace()"
                 [isDisabledProgress]="saving"></app-buttons>
  </div>

  <!-- Edit modal -->
  <app-modal [(isDisplayed)]="editModalVisible">
    <app-question-edit (onExit)="editQuestionDialogExited($event)" [isEdit]="isEditQuestion" [question]="selectedQuestion"></app-question-edit>
  </app-modal>

</div>
