<div class="shadow relative flex flex-row justify-between items-center py-5 px-10 tablet:px-10 mobile:px-5">
  <div class="relative flex flex-row items-center gap-5 mobile:gap-3">

    <img class="w-[4rem] tablet:w-[4rem] mobile:w-[3rem] cursor-pointer" routerLink="/admin"
         src="assets/svg/szititour.svg" alt="Logo">
    <p routerLink="/user/home" class="text-size-lg">{{$isAdmin() ? 'Szititour Admin' : 'Szititour'}}</p>
  </div>



  <div class="right">
    <img (click)="ngRok()" *ngIf="!isNgRok" class="btn-icon mobile-none disableSelectAndTap" src="assets/svg/warning.svg" alt="Warning">
    <img routerLink="/admin/notification" *ngIf="$isAdmin()" class="btn-icon mobile-none disableSelectAndTap" src="assets/svg/notification-plus.svg" alt="Notification-manager">
    <a routerLink="/user/profile" class="btn-profile disableSelectAndTap"></a>
    <button (click)="toggleNoti($event)" class="btn-notification hasNew disableSelectAndTap" [class.hasNew]="$hasNewNoti()"></button>
    <div class="flex flex-row mobile:hidden tablet:block">

      <a class="btn-simple" *ngIf="!$isLoggedIn()" routerLink="/auth/login">Bejelentkezés</a>
      <button class="btn-simple" (click)="logout()" *ngIf="$isLoggedIn()">Kijelentkezés</button>
    </div>

    <div class="hidden z-navbar-hamburger-container mobile:block relative disableSelectAndTap">
      <div class="nav-container">
        <input [ngModel]="isMobileMenuOpen" (ngModelChange)="changeIsMobileMenuOpen($event)" class="checkbox"
               type="checkbox"/>
        <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </div>
      </div>
    </div>


  </div>

  <div class="notification-container" >
    <app-notifications></app-notifications>
    <app-latest-notification></app-latest-notification>
  </div>




  <div class="mobileMenu" [class.z-navbar-mobile-menu-open]="isMobileMenuOpen">
    <div class="darkPart" (click)="changeIsMobileMenuOpen(false)" [ngClass]="isMobileMenuOpen ? 'animateDarkPart' : ''"></div>
    <div class="whitePart" [ngClass]="isMobileMenuOpen ? 'whitePartOpen' : ''">

      <a *ngIf="$isLoggedIn()" routerLink="/user/home" (click)="changeIsMobileMenuOpen(false)" class=" font-semibold text-size-lg cursor-pointer">Főoldal</a>
      <a *ngIf="$isAdmin()" routerLink="/admin" (click)="changeIsMobileMenuOpen(false)" class="font-semibold text-size-lg cursor-pointer">Admin Panel</a>
      <a *ngIf="$isAdmin()" routerLink="/user" (click)="changeIsMobileMenuOpen(false)" class="font-semibold text-size-lg cursor-pointer">Felhasználói oldal</a>
      <a *ngIf="$isAdmin()" routerLink="/admin/notification" (click)="changeIsMobileMenuOpen(false)" class="font-semibold text-size-lg cursor-pointer">Push értesítések</a>
      <a *ngIf="$isLoggedIn()" routerLink="/user/profile" (click)="changeIsMobileMenuOpen(false)" class=" font-semibold text-size-lg cursor-pointer">Profil</a>
      <a *ngIf="$isLoggedIn()" (click)="changeIsMobileMenuOpen(false); logout()" class=" font-semibold text-size-lg cursor-pointer">Kijelentkezés</a>
      <a *ngIf="!$isLoggedIn()" routerLink="/auth/login" class=" font-semibold text-size-lg cursor-pointer">Bejelentkezés</a>
      <img (click)="ngRok()" *ngIf="!isNgRok" class="btn-warning" src="assets/svg/warning.svg" alt="Warning">
    </div>

  </div>

</div>
