<div class="relative flex justify-center mt-10 p-5">

  <div class="relative flex flex-col neumorphism mobile:p-5 p-10 mobile:w-full">

    <p class="text-size-h1 font-bold mb-10">Regisztráció</p>

    <!--
        <app-text-input [(value)]="email" classes="mb-5" placeholder="Add meg az e-mail címed" label="E-mail *"></app-text-input>
    -->
    <label class="text-size-base mb-2">E-mail *</label>
    <input [(ngModel)]="email" class="simpleInput mb-5" placeholder="Add meg az e-mail címed">
    <app-text-input [(value)]="password" [password]="true" classes="mb-5" label="Jelszó *"
                    placeholder="Adj meg egy jelszót"></app-text-input>
    <app-text-input [(value)]="passwordConfirm" [password]="true" classes="mb-5" label="Jelszó még egyszer *"
                    placeholder="Add meg még egyszer"></app-text-input>

    <div class="flex justify-between items-center">
      <a #button1 class="btn-hover-bold" title="Még nincs fiókod?" (mouseenter)="button1.innerText = 'Lépj be!'" (mouseleave)="button1.innerText = 'Már van fiókod?'" routerLink="/login">Még nincs fiókod?</a>
      <button (click)="register()" [disabled]="registering" class="btn-simple">Regisztrálás</button>
    </div>
  </div>


</div>

