<div class="relative p-10 flex flex-col flex-grow bg-smoke box-border mobile:p-5">

  <div class="grid grid-cols-4 tablet:grid-cols-2 gap-6 mobile:grid-cols-1 relative">
    <div class="fixed z-10 w-[3rem] h-[3rem] text-size-base right-20 bottom-20 mobile:right-10 mobile:bottom-10">
      <app-buttons (onClicked)="openNewGameDialog()" type="icon"
                   classes="hover:scale-110 active:opacity-70 transition" iconSrc="assets/svg/add.svg"></app-buttons>
    </div>
    <app-gamecard (onDeleted)="getGames()" (onEditClicked)="editGame(game)"
                  (onPlacesClicked)="changeModal(PLACES, game)"
                  (onTeamsClicked)="changeModal(TEAMS, game)" *ngFor="let game of games" [game]="game"></app-gamecard>
  </div>

</div>


<!-- Applications modal -->
<app-modal [(isDisplayed)]="teamsModalVisible" classes="w-full">
  <app-lists [(applications)]="selectedGame.applications"></app-lists>
</app-modal>

<!-- Places modal -->
<app-modal [(isDisplayed)]="placesModalVisible" classes="w-full">
  <app-lists [gameIdForPlacesList]="selectedGame.id" [places]="selectedGame.places"
             type="places"></app-lists>
</app-modal>

