<section class="profile" *ngIf="this.$profile() !== undefined">

  <div class="profile-inside">
    <div class="profile-data">
      <div class="infos">

        <div class="img-container">
          <app-image-uploader [src]="($profile().img | imgSrc | imgLoader | async) ?? 'assets/svg/avatar.svg'"
            (fileChanged)="fileChange($event)"></app-image-uploader>
        </div>

        <app-text-input type="editable" [label]="'Csapatnév:'" [(value)]="$profile().name"></app-text-input>
        <div class="members">
          <div class="title">
            <p class="text-size-base">Csapattagok:</p>
            <app-buttons *ngIf="$profile().members.length < 4" (click)="addMember()"
              classes="hover:scale-110 active:opacity-70 transition" iconSrc="assets/svg/add.svg"
              type="icon"></app-buttons>
          </div>
          <app-text-input type="editable" [label]="'Tag1:'" [(value)]="$profile().members[0]"></app-text-input>
          <app-text-input type="editable" [label]="'Tag2:'" [(value)]="$profile().members[1]"></app-text-input>
          <app-text-input type="editable" [label]="'Tag3:'" [(value)]="$profile().members[2]"></app-text-input>
          <app-text-input type="editable" [label]="'Tag4:'" [(value)]="$profile().members[3]"></app-text-input>


        </div>
        <button [disabled]="((isSame || $saving()) && $newImgFile() === undefined)" (click)="saveProfile()"
          class="btn-simple w-fit self-center">Mentés</button>
      </div>

    </div>
    <div class="profile-email">
      <div>
        <div *ngIf="$profile().nextEmail !== ''" class="changing">
          <button title="Változtatás visszavonása" [disabled]="$saving()" (click)="cancelEmailChange()">
            <img src="assets/svg/cancel.svg" alt="Cancel">
          </button>
          <p class="txt-warning-red">*Változtatás alatt: {{$profile().nextEmail}}</p>
        </div>
        <app-text-input type="editable" [label]="'Email:'" [(value)]="$profile().email"></app-text-input>
      </div>
      <button [disabled]="$saving() || isEmailSame" (click)="saveEmail()"
        class="btn-simple-red w-fit self-center">Módosítás</button>
    </div>
  </div>

  <div class="right">

    <div class="push">
      <h3 class="text-size-lg text-center bold">Push értesítések</h3>
      <p class="text-size-base text-center bold">Engedély ezen az eszközön</p>
      <div class="push-t">
        <img *ngIf="$pushState() === 'blocked'" title="Értesítések Kikapcsolva az eszközön"
          src="assets/svg/warning-yellow.svg" alt="Push blocked Warning">
        <app-toggler (click)="togglePushNoti()" [isOn]="$pushState() === 'true'"></app-toggler>
      </div>
    </div>

    <div class="profile-loggedin">
      <h3 class="text-size-lg text-center bold">Bejelentkezett eszközök:</h3>
      <div class="profile-clients">
        <app-client-card [client]="client" *ngFor="let client of this.$profile().clients"></app-client-card>
      </div>
    </div>

    <div class="password-card">
      <h3 class="text-size-lg bold text-center">Jelszó módosítása</h3>
      <button [disabled]="$saving()" (click)="savePassword()" class="btn-simple w-fit self-center">Jelszó
        módosítása</button>
    </div>

    <div class="delete-card">
      <h3 class="text-size-lg bold">Felhasználó törlése</h3>
      <button [disabled]="$deleting()" (click)="deleteAccount()" class="btn-simple-red">Felhasználó törlése</button>
    </div>
  </div>

</section>