<section class="profile" *ngIf="this.$profile() !== undefined">

  <div class="profile-inside">
    <div class="profile-data">
      <div class="infos">

        <img [src]="$profile().img" alt="Avatar">


        <app-text-input type="editable" [label]="'Csapatnév:'" [(value)]="$profile().name"></app-text-input>
        <div class="members">
          <div class="title">
            <p class="text-size-base">Csapattagok:</p>
            <app-buttons *ngIf="$profile().members.length < 4" (click)="addMember()"
              classes="hover:scale-110 active:opacity-70 transition" iconSrc="assets/svg/add.svg"
              type="icon"></app-buttons>
          </div>
          <app-text-input *ngIf="$profile().members[0]" type="editable" [label]="'Tag1:'"
            [(value)]="$profile().members[0]"></app-text-input>
          <app-text-input *ngIf="$profile().members[1]" type="editable" [label]="'Tag2:'"
            [(value)]="$profile().members[1]"></app-text-input>
          <app-text-input *ngIf="$profile().members[2]" type="editable" [label]="'Tag3:'"
            [(value)]="$profile().members[2]"></app-text-input>
          <app-text-input *ngIf="$profile().members[3]" type="editable" [label]="'Tag4:'"
            [(value)]="$profile().members[3]"></app-text-input>


        </div>
        <button [disabled]="isSame || $saving()" (click)="saveProfile()"
          class="btn-simple w-fit self-center">Mentés</button>
      </div>

    </div>
    <div class="profile-email">
      <div>
        <p class="txt-warning-red" *ngIf="$profile().nextEmail !== ''">*Változtatás alatt {{$profile().nextEmail}}</p>
        <app-text-input type="editable" [label]="'Email:'" [(value)]="$profile().email"></app-text-input>
      </div>
      <button [disabled]="$saving() || isEmailSame" (click)="saveEmail()"
        class="btn-simple-red w-fit self-center">Módosítás</button>
    </div>

    <form [formGroup]="passwordForm" class="profile-password">
      <h3 class="text-center text-size-base bold">Jelszó módosítása:</h3>
      <input autocomplete="off" formControlName="oldPassword" class="simpleInput" type="password"
        placeholder="Régi jelszó">
      <input autocomplete="off" formControlName="password" class="simpleInput" type="password" placeholder="Új jelszó">
      <input autocomplete="off" formControlName="confirmPassword" class="simpleInput" type="password"
        placeholder="Új jelszó mégegyszer">
      <button [disabled]="$saving() || !passwordForm.valid" (click)="savePassword()"
        class="btn-simple-red w-fit self-center">Módosítás</button>
    </form>
  </div>

  <div>
    <h3 class="text-size-lg text-center bold">Bejelentkezett eszközök:</h3>
    <div class="profile-clients">
      <app-client-card [client]="client" *ngFor="let client of this.$profile().clients"></app-client-card>
    </div>
  </div>

</section>