@import "styles/styles-variables";

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: $z-modal-background; /* Sit on top */
  left: 0;
  top: 0;
  align-items: center;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: unset; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin: auto;
  border-radius: 10px;
  max-width: 80%;
  max-height: 80%;
}
