<div class="relative rounded hover:scale-105 duration-300 shadow-2xl h-full">

  <div class="relative flex flex-col h-full">
    <div class="relative">
      <img class="aspect-video object-cover w-full rounded-t" [src]="game.img | imgSrc | imgLoader | async" alt="Game's image">

      <span title="Játék aktíválás" class="switch" (click)="changeGameActivation()">
        <input disabled [ngModel]="game.active" type="checkbox">
        <span class="slider round"></span>
      </span>

      <a *ngIf="game.active" [routerLink]="'/admin/active/' + game.id" class="activeLink text-size-base">Státusz</a>

      <div class="absolute top-0 right-0 p-1 z-delete">
        <app-buttons [isDisabledProgress]="$deleting()" (onClicked)="deleteGame()"
          class="absolute right-0 top-0 bg-white rounded p-1" type="delete"></app-buttons>
      </div>
    </div>
    <div class="p-3">
      <div class="flex flex-row gap-3">
        <p class="font-bold text-size-base">{{game.title ? game.title : "No title"}}</p>
        <app-buttons classes="min-w-[20px]" (click)="onEditClicked.emit()" iconSrc="assets/svg/edit.svg"
          type="icon"></app-buttons>
      </div>
      <p class="text-size-min">{{game.dateStart | date:'y.MM.d. H:mm'}} - {{game.dateEnd | date:'H:mm'}}</p>
    </div>
    <div class="flex-grow">

    </div>
    <div class="flex flex-row w-full border-t-1">
      <app-buttons (click)="onPlacesClicked.emit()" classes="border-r-1" iconSrc="assets/svg/map.svg"
        text="{{game.places.length}} Helyszín" type="blueIcon"></app-buttons>
      <app-buttons (click)="onTeamsClicked.emit()" iconSrc="assets/svg/team2.svg"
        text="{{game.applications.length}} / {{acceptedApplicationsLength}} Csapat" type="blueIcon"></app-buttons>
    </div>
  </div>


</div>