<div class="shadow relative flex flex-row justify-between items-center py-5 px-10 tablet:px-10 mobile:px-5">
  <div class="relative flex flex-row items-center gap-5 mobile:gap-3">

    <img class="w-[4rem] tablet:w-[4rem] mobile:w-[3rem]" src="assets/svg/szititour.svg" alt="Logo">
    <p class="text-size-lg">{{title}}</p>
  </div>

  <div class="flex flex-row mobile:hidden tablet:block">
    <app-buttons *ngIf="!isLoggedIn" routerLink="/login" text="Bejelentkezés"></app-buttons>
    <app-buttons (onClicked)="logout()" *ngIf="isLoggedIn" text="Kijelentkezés"></app-buttons>
  </div>
  <div class="hidden mobile:block relative -translate-x-14 -translate-y-8" style="-webkit-tap-highlight-color: transparent">
    <div class="nav-container">
      <input class="checkbox" type="checkbox"/>
      <div class="hamburger-lines">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </div>
    </div>
  </div>

</div>
