<div class="card-game">
  <img [src]="'https://media.timeout.com/images/105879336/750/422/image.jpg'" [alt]="game.title">
  <div class="details">
    <p class="text-size-lg bold">{{game.title}}</p>
    <p class="text-size-base">{{game.dateStart | date:'short' }} - {{game.dateEnd | date:'short' }}</p>
  </div>
  <button class="btn-simple" [routerLink]="game.active && game.userApplied === 'accepted' ? '/user/active/' + game.id : undefined" [disabled]="game.userApplied === 'declined'" (click)="applyBtnClicked()" [ngClass]="{'btn-simple-red' : game.userApplied === 'applied' || game.userApplied === 'accepted' && !game.active, 'btn-simple-green' : game.active && game.userApplied === 'accepted'}">{{(game.userApplied === 'applied' || game.userApplied === 'accepted') ? game.active && game.userApplied === 'accepted' ? 'Írány a játék' : 'Visszamondás' : 'Jelentkezés'}}</button>
</div>
