<div class="relative p-10 bg-smoke mobile:p-5">

  <div class="grid grid-cols-4 tablet:grid-cols-2 gap-6 mobile:grid-cols-1">
    <app-gamecard [game]="game" (onPlacesClicked)="changeModal(PLACES)" (onTeamsClicked)="changeModal(TEAMS)"
                  (onEditClicked)="editGame(game)" *ngFor="let game of games"></app-gamecard>
  </div>
</div>


<!-- Edit modal -->
<app-modal [(isDisplayed)]="editModalVisible">
  <app-edit-game [game]="selectedGame"></app-edit-game>
</app-modal>

<!-- Teams modal -->
<app-modal classes="w-full" [(isDisplayed)]="teamsModalVisible">
  <app-lists ></app-lists>
</app-modal>

<!-- Places modal -->
<app-modal classes="w-full" [(isDisplayed)]="placesModalVisible">
  <app-lists  [type]="ListType.places"></app-lists>
</app-modal>

