<div class="relative bg-white p-5 rounded overflow-y-auto max-h-[80vh] flex-col gap-2 flex">
  <p class="text-size-h3 text-center w-full font-bold mb-6">{{this.isEdit ? "Kérdés szerkesztése" : "Kérdés létrehozása"}}</p>
  <label class="text-size-base">Name:</label>
  <input [(ngModel)]="question.name" type="text" class="simpleInput">
  <div class="flex gap-2">
    <label class="text-size-base">Riddle:</label>
    <input [checked]="question.riddle" (change)="question.riddle = !question.riddle" type="checkbox">
  </div>
  <div class="flex gap-2">
    <label class="text-size-base">Question Type:</label>
    <select [(ngModel)]="question.type">
      <option value="0">Short Text</option>
      <option value="1">Long Text</option>
      <option value="2">Number</option>
      <option value="3">Image</option>
      <option value="4">Year</option>
    </select>
  </div>
  <div class="flex gap-2">
    <label class="text-size-base">Image:</label>
    <input type="file" accept="image/*">
  </div>

  <div class="w-full flex justify-between">
    <app-buttons classes="bg-red-600 hover:bg-red-700" (onClicked)="delete()" [isDisabledBlocked]="!isEdit" [isDisabledProgress]="deleting" text="Delete" [type]="ButtonType.simple"></app-buttons>
    <app-buttons [isDisabledProgress]="saving" (onClicked)="save()" [text]="this.isEdit ? 'Mentés' : 'Létrehozás'" [type]="ButtonType.simple"></app-buttons>
  </div>
</div>
