@import "styles/styles-variables";

.container-confirm {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: $z-confirm;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(4px);
}

.confirm-card {
    width: min(400px, calc(100vw - 40px));
    padding: 20px;
    border-radius: 8px;

    -webkit-box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.38);
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.38);
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    button {width: 100%; white-space: nowrap;}
}