<form [formGroup]="passwordForm" class="password-card">
    <h3 class="text-center text-size-base bold">Jelszó módosítása:</h3>
    <input autocomplete="off" formControlName="password" class="simpleInput" type="password"
        placeholder="Új jelszó">
    <input autocomplete="off" formControlName="confirmPassword" class="simpleInput" type="password"
        placeholder="Új jelszó mégegyszer">
    <button [disabled]="$saving() || !passwordForm.valid" (click)="savePassword()"
        class="btn-simple-red w-fit self-center">Módosítás</button>
</form>