main {
    width: fit-content;
    margin: auto;
}

.topic-noti {
    display: flex;
    flex-direction: column;
    padding: 14px;
    border-radius: 10px;

    -webkit-box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.38);
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.38);

    max-width: 700px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3rem;

    h2 {
        margin: 12px 0px;
        text-align: center;
    }
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 14px;

    div {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .test-btns {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

