<main>

    <section class="topic-noti">
        <h2 class="text-size-h2 bold">Értesítés küldése</h2>

        <form [formGroup]="topicForm">

            <div class="inputs text-size-base">
                <div>
                    <p>Topic: default</p>
                </div>
                <div>
                    <label for="topic-title">Üzenet címe:</label>
                    <input formControlName="title" required autofocus tabindex="1" placeholder="Téma" class="simpleInput" id="topic-title" type="text" maxlength="16">
                </div>
                <div>
                    <label for="topic-msg">Üzenet szövege:</label>
                    <input formControlName="msg" required tabindex="2" name="topicMsg" placeholder="Üzenet..." class="simpleInput" id="topic-msg" type="text" maxlength="50">
                </div>
                <div class="test-btns">
                    <button [disabled]="!topicForm.valid" tabindex="3" (click)="testTopicNoti()" type="submit" class="btn-simple">App Teszt</button>
                    <button [disabled]="!topicForm.valid" tabindex="4" (click)="testTopicNoti(true)" type="submit" class="btn-simple">Push Teszt</button>
                </div>
                <button [disabled]="!topicForm.valid" tabindex="5" (click)="sendTopicNotification()" type="submit" class="btn-simple-red">Küldés</button>
            </div>
        </form>
    </section>

    <!-- <section class="topic-noti">
        <h2>Send target notification:</h2>
        <div class="inputs">
            <label for="">Válassz ˝célt˝</label>
            <select>
                <option value="default">default</option>
            </select>
            <label for="topic-title">Üzenet címe:</label>
            <input class="simpleInput" id="topic-title" type="text" maxlength="16">
            <label for="topic-msg">Üzenet szövege:</label>
            <input class="simpleInput" id="topic-msg" type="text" maxlength="50">
        </div>
    </section> -->

</main>