<div class="relative flex justify-center mt-10 p-5">

  <div class="relative neumorphism mobile:w-full mobile:p-5 p-10">

    <p class="text-size-h1 font-bold mb-10">Bejelentkezés</p>

    <app-text-input  [(value)]="email" classes="mb-5" placeholder="Add meg az e-mail címed" label="E-mail"></app-text-input>
    <app-text-input [(value)]="password" classes="mb-5" [password]="true" placeholder="Add meg a jelszavad" label="Jelszó"></app-text-input>
    <p *ngIf="error !== ''" class="text-size-min text-red-600">{{error}}</p>
    <app-buttons classes="mb-5" [type]="ButtonType.hoverBold" text="Elfelejtetted a jelszavad?"></app-buttons>

    <div class="flex justify-between items-center">
      <app-buttons routerLink="/register" classes="hover:pr-12" [type]="ButtonType.hoverBoldTextChange" textHover="Regisztrálj!" text="Még nincs fiókod?"></app-buttons>
      <app-buttons (click)="login()" classes="" text="Bejelentkezés"></app-buttons>
    </div>
  </div>


</div>
