<div class="relative flex justify-center mt-10 p-5">

  <div class="relative neumorphism mobile:w-full mobile:p-5 p-10">

    <p class="text-size-h1 font-bold mb-10">Bejelentkezés</p>

    <app-text-input [(value)]="email" classes="mb-5" label="E-mail"
                    placeholder="Add meg az e-mail címed"></app-text-input>
    <app-text-input [(value)]="password" [password]="true" classes="mb-5" label="Jelszó"
                    placeholder="Add meg a jelszavad"></app-text-input>
    <!--
        <app-buttons classes="mb-5" [type]="ButtonType.hoverBold" text="Elfelejtetted a jelszavad?"></app-buttons>
    -->

    <div class="flex justify-between items-center">
      <a #button1 class="btn-hover-bold-textChange" title="Még nincs fiókod?" (mouseenter)="button1.innerText = 'Regisztrálj!'" (mouseleave)="button1.innerText = 'Még nincs fiókod?'" routerLink="/register">Még nincs fiókod?</a>
      <button (click)="login()" class="btn-simple">Bejelentkezés</button>
    </div>
  </div>


</div>
