.holder-question {
  border-radius: 8px;
  border: 1px solid black;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 400px;

  .question-title {
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.17);
    padding: 5px 10px;
  }

  .question-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgba(0, 255, 49, 0.11);

    &.differentAnswer {
      background: rgba(205, 42, 0, 0.11);
    }

    input {
      background: rgba(0, 0, 0, 0.13);
      padding: 10px;
      border-radius: 8px;
    }
  }
}
