<div class="holder-places">
  <app-place-card [selected]="selectedPlace === place" (click)="selectPlace(place)"
                  *ngFor="let place of (activeGame$ | async)?.places; let i = index" [place]="place"
                  [index]="i"></app-place-card>
</div>


<div class="holder-questions">
  <app-question-card [teamStatus]="teamStatus | async" *ngFor="let question of selectedPlace?.questions; let i = index"
                     [index]="i" [question]="question"></app-question-card>
</div>

<div class="section-btn">
  <button (click)="postAnswers()" class="btn-simple">Mentés</button>
</div>
