.form-control {
  --button-color: #f3cfb7;
  --margin-bottom: 1rem;
  margin-bottom: var(--margin-bottom);
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  display: block;
  border: 1px solid transparent;
  color: white;
  height: 50px;
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  transition: 0.3s;

}
.form-control:hover{
  background: transparent;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  border: 1px solid rgba(255, 255, 255, 1);
}
input.form-control:focus {
  outline: none;
  background: transparent;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  border: 1px solid rgba(255, 255, 255, 1);
}
button.form-control{
  text-transform: uppercase;
  color: black;
  background-color: var(--button-color, #f3cfb7)
}
.form-control::placeholder {
  color: white;
}

.fa-eye:before {
  content: "\f06e";
}


