<div [ngSwitch]="type"
     (click)="onClick()">

  <div *ngSwitchCase="'blueIcon'" (mouseenter)="mouseOver = true" (mouseleave)="mouseOver = false"
       class="{{classes}}  py-3  relative w-full flex cursor-pointer items-center flex-row justify-center gap-4">
    <img [ngClass]="mouseOver ? 'anim-shake' : ''" class="w-[15%]" [src]="iconSrc" alt="Button Icon">
    <p [ngClass]="mouseOver ? '' : ''" class="text-size-min italic">{{text}}</p>
  </div>

  <div *ngSwitchCase="'delete'" class="{{classes}} h-[30px] w-[30px] relative z-10 items-center flex text-size-base deleteButton"
       [ngClass]="isDisabledBlocked ? 'opacity-60 cursor-not-allowed' : isDisabledProgress ? 'opacity-60 cursor-progress' : 'cursor-pointer'">
    <img class="absolute hover bottom-0 left-0" src="../../../../assets/svg/delete-red.svg" alt="Delete Icon">
    <img class="absolute noHover bottom-0 left-0" src="../../../../assets/svg/delete.svg" alt="Delete Icon">
  </div>

  <div *ngSwitchCase="'icon'" class="{{classes}} h-full items-center flex text-size-base"
       [ngClass]="isDisabledBlocked ? 'opacity-60 cursor-not-allowed' : isDisabledProgress ? 'opacity-60 cursor-progress' : 'cursor-pointer'">
    <img class="h-full aspect-square" [src]="iconSrc" alt="Icon">
  </div>

</div>




