<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <title>E-mail cím módosítása!</title>
</head>
<body style="
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
      margin: 0;
      padding: 0;">
<div style="
      max-width: 600px;
      margin: 20px auto;
      padding: 20px;
      background-color: #ffffff;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
    <div style="
      text-align: center;
      margin-bottom: 20px;">
        <img style="
      width: 80px;
      height: 80px;
      margin-bottom: 10px;"
             src="https://mherczku.github.io/szititour/assets/img/szititour.png"
             alt="Logo">
        <h1>E-mail cím módosítása!</h1>
    </div>
    <div style="margin-bottom: 20px;">
        <p>Kedves [USERNAME],</p>
        <p>Az új E-mail címed aktiválásához kérlek kattints a gombra:</p>
        <a style="
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: #ffffff;
      text-decoration: none;
      border-radius: 5px;" href="https://mherczku.github.io/szititour/auth/verify/[VERIFICATION_TOKEN]">E-mail aktiválása</a>
    </div>
    <p>Ha bármi kérdésed van, <a href="mailto:szititour.nxt+support@gmail.com">vedd fel velünk a kapcsolatot</a>.</p>
    <p>Üdv,<br>Szititour csapata</p>
</div>
</body>
</html>