<body style="
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
      margin: 0;
      padding: 0;">
<div style="
      max-width: 600px;
      margin: 20px auto;
      padding: 20px;
      background-color: #ffffff;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
    <div style="
      text-align: center;
      margin-bottom: 20px;">
        <img style="
      width: 80px;
      height: 80px;
      margin-bottom: 10px;"
             src="https://mherczku.github.io/szititour/assets/img/szititour.png"
             alt="Logo">
        <h1>Welcome to Szititour!</h1>
    </div>
    <div style="margin-bottom: 20px;">
        <p>Dear [USERNAME],</p>
        <p>We're excited to have you on board.</p>
        <p>Explore and apply to the upcoming competitions!</p>
        <p>Click the button below to verify your email and get started:</p>
        <a style="
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: #ffffff;
      text-decoration: none;
      border-radius: 5px;" href="https://mherczku.github.io/szititour/verify/[VERIFICATION_TOKEN]">Verify your email</a>
    </div>
    <p>If you have any questions or need assistance, feel free to <a href="mailto:szititour+support@gmail.com">contact our
        support team</a>.</p>
    <p>Best regards,<br>Your Team at Szititour</p>
</div>
</body>
